.button {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-family: HelveticaNeue;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.button__with-icon img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.button--variant-contained {
  background-color: white;
  color: #1a1a1a;
}

.button--variant-contained.button--color-primary {
  background-color: #1a1a1a;
  color: white;
}

.button--variant-contained.button--color-secondary {
  background-color: #690ff0;
  color: white;
}

.button--variant-contained.button--disabled {
  background-color: rgba(26, 26, 26, 0.1);
  color: white;
}

.button--variant-text {
  background: 0;
}

.button--variant-text.button--color-primary {
  color: #1a1a1a;
}

.button--variant-text.button--color-secondary {
  color: white;
}

.button--variant-outlined,
.button--variant-outlined.button--color-primary {
  background-color: white;
  border: 3px solid #1a1a1a;
  color: #1a1a1a;
}

.button--variant-outlined.button--color-secondary {
  background-color: white;
  border-color: rgba(26, 26, 26, 0.1);
  color: #1a1a1a;
}

.button--variant-outlined.button--disabled {
  border-color: rgba(26, 26, 26, 0.1);
  color: rgba(26, 26, 26, 0.2);
}

.button--color-link {

}

.button--size-small {
  font-size: 0.875em;
  font-weight: normal;
  height: 32px;
  line-height: 30px;
}

.button--size-medium {
  font-size: 0.9375em;
  height: 45px;
  line-height: 40px;
}

.button--variant-outlined.button--size-small,
.button--variant-outlined.button--size-medium {
  border-width: 1px;
  font-weight: normal;
}

.button--size-large {
  font-size: 1.125em;
  height: 48px;
  line-height: 40px;
}
